<!doctype html>
  <html>
    <body>
      <form action="/check" method="post">
         <input type="text" name="name" /><br />
          <input type="date" name="date" /><br />
          <button>Save</button>
      </form>
    </body>
  </html>
